NODE_ENV=production
HOST=0.0.0.0
PORT=3000
PUBLIC_BASE_URL=https://example.com
BATTLEMETRICS_SERVER_ID=38305630
BATTLEMETRICS_API_BASE=https://api.battlemetrics.com
BM_CACHE_TTL_MS=15000
BM_TIMEOUT_MS=8000
SQUAD_APP_ID=393380
FALLBACK_SERVER_IP=84.200.135.63:7797
ADMIN_TOKEN=change_me_long_random_token
DATA_DIR=./data
